table {
  font-family: var(--body-font);
  font-size: 14px;
  min-width: 577px;
}
.table > :not(caption) > * > * {
  padding: 0 1em 0 0 !important;
}
tr {
  vertical-align: middle;
}
tr:hover {
  cursor: pointer;
}
.teamBranding img {
  width: 24px;
  height: auto;
  margin-right: 10px;
}
.winDrawLost img {
  width: 14px;
  height: auto;
  margin: 3px 5px 0 0;
}
.leagueMarker {
  width: 2px;
  height: 40px;
}
.championsLeague {
  background-color: #4285f4;
}
.europa {
  background-color: #f48342;
}
.conferenceLeague {
  background-color: #42f457;
}
.relegation {
  background-color: #f44242;
}
