table {
  font-family: var(--body-font);
  font-size: 14px;
  min-width: 577px;
}

tr:hover {
  cursor: pointer;
}
.teamBranding img {
  width: 24px;
  height: auto;
  margin-right: 10px;
}
.winDrawLost img {
  width: 14px;
  height: auto;
  margin: 3px 5px 0 0;
}
.championsLeague {
  background-color: #4285f4;
  width: 2px;
  height: 30px;
}
.europa {
  background-color: #f48342;
  width: 2px;
  height: 30px;
}
.conferenceLeague {
  background-color: #42f457;
  width: 2px;
  height: 30px;
}
.relegation {
  background-color: #f44242;
  width: 2px;
  height: 30px;
}
