@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

.root {
  width: 100%;
}

:root {
  --body-font: "Roboto", sans-serif;
  --purple: #341449;
  --gray: #333;
}

body,
html {
  font-family: var(--body-font);
}

.preloader {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  inset: 0 0 auto auto;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
